<!-- NAV BAR -->
<div class="grid grid-cols-5 content-center bg-[#00618C] p-4 navbar">
  <div class="col-span-2">
    <span class="text-2xl">Logotipo</span>
  </div>
  <div class="col-span-3 justify-self-end">
    <ul class="flex gap-4">
      <li class="text-2xl navItem" routerLink="0/inicio" routerLinkActive="activeButton">Inicio</li>
      <li class="text-2xl navItem" routerLink="/menu" routerLinkActive="activeButton">Menu</li>
    </ul>
  </div>
</div>
<!-- COMPONENTES DEL ROUTER -->
<router-outlet></router-outlet> 
