<div class="p-4"> <!--DIV QUE CONTENDRA TODOS ELEMENTOS DE LA PAGINA-->
  <!-- EJEMPLO DE UN TABLA -->
  <table mat-table [dataSource]="datasourceTable ?? []" class="mat-elevation-z8">

    <!-- COLUMNA ID-->
    <ng-container matColumnDef="ID" >
      <th mat-header-cell *matHeaderCellDef ngClass="p-2"> ID </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.idItem}} </td>
    </ng-container>
  
    <!-- COLUMNA NOMBRE -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef > Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- COLUMNA PRECIO-->
    <ng-container matColumnDef="Precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
    </ng-container>
  
    <!-- COLUMNA DESCRIPCION-->
    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>
    <!-- COLUMNA PARA METER ACCIONES (BOTONES) -->
    <ng-container matColumnDef="Acciones" >
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="justify-self-center">
          <button  [routerLink]="'/'+ element.idItem + '/inicio'">
            <mat-icon aria-hidden="false" fontIcon="link"></mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
  <!-- EJEMPLO DE PAGINADOR POR SI HAY MUCHOS DATOS -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 [length]="datasourceTable.data.length"
                 aria-label="Seleccionar pagina">
  </mat-paginator>
</div>

